@model IEnumerable<TodoMVC.Models.TodoModels.ITask>;

@{
    ViewData["Title"] = "TODO";
}

<h1>TODO</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Complete It
            </th>
            <th>
                 
            </th>
            <th>
                Task
            </th>
            <th>
                Description
            </th>
            <th>
                Due Date
            </th>
            <th>
                Overdue
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink("Mark Complete", "MarkComplete", new { id = item.id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isComplete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.taskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.taskDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dueDate.DayOfWeek), 
                @Html.DisplayFor(modelItem => item.dueDate.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isOverdue)
            </td>
            <td> 
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
}
    </tbody>
</table>
