@*
    ASP.NET Boostrap component reference: 
    https://getbootstrap.com/docs/4.0/components/badge/
    https://getbootstrap.com/docs/4.0/components/buttons/
*@

@model IEnumerable<TodoMVC.Models.TodoModels.ITask>;

@{
    ViewData["Title"] = "Todo ";
}

<h1>What to do...</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create a New Task</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Status
            </th>
            <th>
                Task
            </th>
            <th>
                Description
            </th>
            <th>
                Due Date
            </th>
            <th>
                Overdue Status
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @if (@item.isComplete)
                    {
                        <a href="@Url.Action("ToggleComplete", new { id = item.id })" class="btn btn-success btn-sm"> Complete </a>
                    }
                    else
                    {
                        <a href="@Url.Action("ToggleComplete", new { id = item.id })" class="btn btn-warning btn-sm">Incomplete</a>
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.taskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.taskDescription)
            </td>
            <td>
                    @item.dueDate.ToString("dddd, MM/dd/yyyy HH:mm tt")
            </td>
            <td>
                    @* overdue but completed *@
                    @if (@item.isOverdue && @item.isComplete)
                    {
                        <span class="badge bg-light">Completed</span>
                    }
                    @* not overdue but completed *@
                    else if (!@item.isOverdue && @item.isComplete)
                    {
                        <span class="badge bg-light">Completed</span>
                    }
                    @* overdue *@
                    else if (@item.isOverdue)
                    {
                        <span class="badge bg-danger">Overdue</span>
                    }
                    @* not overdue but due in 24 hours *@
                    else if (!@item.isOverdue && (@item.dueDate.AddDays(-1) <= DateTime.Now))
                    {
                        <span class="badge bg-warning">Due Soon</span>
                    }
                    @* not overdue *@
                    else
                    {
                        <span class="badge bg-secondary">On Time</span>
                    }
            </td>
            <td> 
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
}
    </tbody>
</table>
